.welcome {
  background: #e7f6f8;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding-top: 50px;
  min-height: 100vh;
}

.welcomeCaption {
  text-align: center;
}

.oblongLogo {
  max-width: 80%;
}

.oblongLogo:after {
  display: block;
  position: fixed;
  z-index: 10;
}

/* positions top cloud above logo */
#topCloud {
  position: relative;
  top: 90px;
  z-index: 11;
  animation-name: moveTopCloud;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
}

/* moves top cloud to show logo*/
@keyframes moveTopCloud {
  100% {
    transform: translateX(-50vw);
    -webkit-transform: translateX(-50vw);
    -moz-transform: translateX(-50vw);
    -ms-transform: translateX(-50vw);
    -o-transform: translateX(-50vw);
  }
}

/* positions bottom cloud above logo */
#bottomCloud {
  z-index: 11;
  position: relative;
  bottom: 300px;
  animation-name: moveBottomCloud;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
}

/* moves bottom cloud to show logo*/
@keyframes moveBottomCloud {
  100% {
    transform: translateX(50vw);
    -webkit-transform: translateX(50vw);
    -moz-transform: translateX(50vw);
    -ms-transform: translateX(50vw);
    -o-transform: translateX(50vw);
  }
}
